html
  head
    title= "L1Ds Release for: " + app.Crname + "/" + isLoggedIn
    style
      include style.css
  body
    div(class="container")
      h2(class="pb-2 border-bottom" style="color: white; text-align: left")="Release Request Details: " + msg
      if error 
        p(class="alert alert-danger")=error 
          
      form(class="row g-3")
        div(class="row-auto"  style="color: white; text-align: left; border-left: 25px solid "+app.CrColour)
           div(class="col-auto") 
              a()="Release Name"
              input(type="text" class="form-control" name="Crname" value=app.Crname placeholder=app.Crname readonly)
              a()="MVP Name"
              input(type="text" class="form-control" name="CrXplan" value=app.CrXplan placeholder=app.CrXplan readonly)
              a()="External Release Name"
              input(type="text" class="form-control" name="CrXname" value=app.CrXname placeholder=app.CrXname readonly)
              a()="Description"
              if app.Crdesc === null  || app.Crdesc === ''
                textarea(rows='2' style='width: 100%' name='Crdesc' placeholder= "eg. Please give a description")
              else 
                textarea(rows='5' style='width: 100%' name='Crdesc1' placeholder= app.Crdesc readonly)
                app.Crdesc
              a()="Release Type"
              input(type="text" class="form-control" name="CrRelType" value=app.CrRelType placeholder=app.CrRelType readonly)

              a()="Deployment Type"
              input(type="text" class="form-control" name="CrDeployType" value=app.CrDeployType placeholder=app.CrDeployType readonly)       
              a()="Code base (PBL)"
              input(type="text" class="form-control" name="CrCodebase" value=app.Crcodebase placeholder=app.CrCodebase readonly)
              a()="Current State"
              input(type="text" class="form-control" name="CrState" value=app.Crstate placeholder=app.CrState readonly)
              //
              // a()="Sticky Pad Colour"
              // input(type="text" class="form-control" name="CrColour" value=app.CrColour placeholder=app.CrColour readonly)
              //

        h4(class="pb-2 border-bottom" style="color: lime; text-align: left")="Code Scan"
        div(class="row-auto" style="color: white; text-align: left")
           div(class="col-auto") 
              if app.Crsonastatus!=='' && app.Crsonastatus!== null
                a()="Sonarqube Scan Result = click on link .......... "
                <a href=#{app.Crsonastatus}>  #{app.Crsonastatus} </a>
              else 
                a()="Sonarqube Scan in progress ........."
        
        h4(class="pb-2 border-bottom" style="color: lime; text-align: left")="Details"
        div(class="row-auto" style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Notes"
              if app.CrNote === null  || app.CrNote === ''
                textarea(rows='9' style='width: 100%' name='CrNote' placeholder= "Previous notes ..." Readonly)
              else 

                textarea(rows='9' style='width: 100%' name='CrNote' placeholder= app.CrNote Readonly )
                app.Crnote     
        
        div(class="row-auto"  style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Dev Branch"
              input(type="text" class="form-control" name="CrDevbranch" value=app.CrDevbranch placeholder=app.CrDevbranch readonly)
        div(class="row-auto"  style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Instruction: Dev Branch"
              input(type="text" class="form-control" name="CrDevInst" value=app.CrDevInst placeholder=app.CrDevInst readonly)                  

        div(class="row-auto"  style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Rel Branch (Freezed Code) "
              input(type="text" class="form-control" name="CrRelbranch" value=app.CrRelbranch placeholder=app.CrRelbranch readonly)
        div(class="row-auto"  style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Instruction: Rel Branch"
              input(type="text" class="form-control" name="CrRelInst" value=app.CrRelInst placeholder=app.CrRelInst readonly)  
        div(class="row-auto"  style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Iteration #"
              input(type="text" class="form-control" name="CrRelItr" value=app.CrRelItr placeholder=app.CrRelIter readonly)  
           
        div(class="row-auto"  style="color: white; text-align: left")
           div(class="col-auto") 
              a()="Creator"
              input(type="text" class="form-control" name="Crcreator" value=app.Crcreator placeholder=app.Crcreator readonly) 
              
        a(href="/home")="Cancel"  
       
      

include footer.pug