html
  head 
    title="L1Ds Service@"+isLoggedIn
  
    style
      include style.css
  body 
    div(class="container")
      h2(class="pb-2 border-bottom" style="color: white; text-align: left")="Serialised Zone recorded Request Corruption."
      h5(class="pb-2 border-bottom" style="color: red; text-align: left")="Release Detected:"
      form(class="row g-3")
        div(class="row-auto"  style="color: white; text-align: left; border-left: 25px solid yellow")
           div(class="col-auto") 
              a()="From Release"
              input(type="text" class="form-control" name="Crname"  placeholder=Crname readonly)
              a()="Recorded Release"
              input(type="text" class="form-control" name="CrXnam"  placeholder=AppSezone readonly)

      a(href="/home")="Home to continue"       

include footer.pug